{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% load remision_tags %}

{% block search %}
    {% remision_search_form cl %}
{% endblock %}


{% block object-tools %}
    <ul class="object-tools">
        {% if request.user.is_superuser %}
        <li>
          <a style="background-color: forestgreen" href="/admin/remisiones/lista_remisiones/{{ params }}">
                Imprimir lista <i class="fa fa-file-excel-o"></i>
          </a>
        </li>
        {% endif %}
        {% block object-tools-items %}
            {% if has_add_permission %}
             <li>
                <a href="/admin/remisiones/remision/add/" class="addlink">
                    Añadir Remisión
                </a>
            </li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}