{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% load producto_tags %}

{% block search %}
    {% productocliente_search_form cl %}
{% endblock %}


{% block object-tools %}
    <ul class="object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
             <li>
                <a href="/admin/productos/productocliente/add/" class="addlink">
                    Añadir Producto por Cliente
                </a>
            </li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}